@media (min-width: 800px) {
  .main {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.main__title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.list-of-task__task__cont,
.add-task__input-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.add-task {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
}

.list-of-task__task__cont__title {
  width: 70%;
}

.btn {
  margin: 3px;
}

.warning {
  color: red;
  font-weight: bold;
  font-size: larger;
}